@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/* sign up page styles */
.signup-input{
  border: 1px solid #ccc;
  width:400px;
  height:40px;
  outline:none;
  border-radius: 8px;
}


.signup-input::placeholder{
  color:lightgray;
  padding:12px;

}

.signup-input:focus{
  border-color: rgb(15, 15, 156);
  border-width:2px;
}

/* .home-search-bar{
  width:70%;
} */

/* .home-search-bar::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.sticky-sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Adjust as needed */
  height: 100vh; /* Ensure it takes the full height of the viewport */
  overflow-y: auto; /* Scroll if content overflows */
}
